{% extends 'base.html.twig' %}

{% block title %}Modifier Poste{% endblock %}

{% block body %}
<h5>{{list_name}}</h5>
<div class="card" style="width: 18rem;">
  <img src="{{asset('img/vidya.png')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Intitulé du job</h5>

    <a href="#" class="btn btn-primary">Voir les details du job</a>
  </div>
</div>
{% endblock %}
